<div class="header_div" style="text-align: center; background-color: #0f0f7e; height: 50px; color: white; padding-top: 5px;">
  <h3>
      <a style="text-decoration: none;text-align: center ; font-family: 'Times New Roman', Times, serif; font-size: larger; color: white;" href="/">
            Payment Gateway
        </a>
    </h3>
  </div>
  <div style="margin: 25px;">
  </div>
  
<% if (transactions.length) { %>
    <% transactions.forEach(function(transaction){ %>
      <style>
        .form-group {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 1rem;
        }
      
        .form-group label {
          width: 20%;
          text-align: left;
          margin-right: 1rem;
          font-weight: bold;
        }
      
        .form-group input {
          width: 45%;
          padding: 0.5rem;
          
        }
        .pagination-button a {
          /* background-color: white; */
  color: #0f0f7e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
   padding: 5px 15px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  flood-color: #0f0f7e;

        }
      </style>
      
      <div style="text-align: center;background-color: lightgray;width:40%">
        <form>
          <div class="form-group">
            <label for="transactionId">Transaction ID:</label>
            <input type="text" id="transactionId" value="<%= transaction.transactionId %>" readonly />
          </div>
          <div class="form-group">
            <label for="bankAccountNumber">Bank Account Number:</label>
            <input type="text" id="bankAccountNumber" value="<%= transaction.bankAccountNumber %>" readonly />
          </div>
          <div class="form-group">
            <label for="cnicNumber">CNIC:</label>
            <input type="text" id="cnicNumber" value="<%= transaction.cnicNumber %>" readonly />
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" value="<%= transaction.email %>" readonly />
          </div>
          <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number" id="amount" value="<%=transaction.amount %>" readonly />
          </div>
          <div class="form-group">
            <label for="dateTime">Date:</label>
            <input type="text" id="dateTime" value="<%= transaction.dateTime.toLocaleString() %>" readonly />
          </div>
        </form>
      </div>
      
    <% }); %>
    <div class="pagination">
      <% if (currentPage > 1) { %>
        <button class="pagination-button">
          <a href="/transactions?mobileNumber=<%= mobileNumber %>&page=<%= previousPage %>">Previous</a>
        </button>
      <% } %>
      <% if (currentPage < numPages) { %>
        <button class="pagination-button">
          <a href="/transactions?mobileNumber=<%= mobileNumber %>&page=<%= nextPage %>">Next</a>
        </button>
      <% } %>
      </div>
  <% } else { %>
    <p>No transactions found</p>
  <% } %>
 
  